@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  background-color: #eff3f4;
  margin: 0 auto;
  width: 900px;
  padding: 20px;
}
.float_l {
  margin-right: 20px;
  margin-bottom: 10px;
  float: left;
}
.float_r {
  margin-left: 20px;
  margin-bottom: 10px;
  float: right;
}
.text {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}
/* 回答はここに書いてね */
