@charset "UTF-8";

/* 回答はここに書いてね */
.main-box {
  padding: 20px;
  box-sizing: border-box;
}
.table-box {
  display: table;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
}
.table-cell {
  padding: 20px;
  display: table-cell;
  text-align: center;
}
.upper-left {
  background-color: #fdc8b8;
  width: 100px;
}
.upper-right {
  background-color: #b6d8ed;
  width: 100px;
}
.upper-middle {
  background-color: #e0abd9;
}
.under-left {
  background-color: #e5d32e;
}
.under-middle {
  background-color: #ec8f9a;
}
.under-right {
  background-color: #8fdcad;
  width: 500px;
}
.table-box:first-child {
  margin-top: 0;
}
/* 回答はここに書いてね */
