@charset "UTF-8";

/* 回答はここに書いてね */
.food {
  width: 100%;
  border: solid 1px #dedede;
  table-layout: fixed;
}
.food tr {
  text-align: center
}
.food th {
  padding: 10px 0;
  color: white;
  font-size: 18px;
  line-height: 26px;
  background-color: #2244aa;
}
.food td {
  padding: 10px 0;
  font-size: 16px;
  line-height: 22px;
}
.food th, .food td {
  border: solid 1px #dedede;
}
.food tr:first-child {
  background-color: #2244aa;
}
.food tr:last-child {
  border-top: dashed 2px #000;
}
.food tr:nth-child(2n+3) {
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */
