@charset "UTF-8";

/* 回答はここに書いてね */
.textalign-box {
  text-align: center;
}
.textbox {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
  text-align: center;
}
.textbox1 {
  display: inline-block;
}
.textbox2 {
  margin: 0 auto;
}
.table-box {
  display: table;
}
.topbox {
  display: table-cell;
  background-color: #ECF1F2;
  text-align: center;
  vertical-align: middle;
}
.bottombox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.textbox3 {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}
.leftbox {
  position: relative;
}
.textbox4 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.rightbox {
  position: relative;
}
.textbox5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
/* 回答はここに書いてね */
